body  {
    background: #f2f3ee url(img/bg.jfif)top left repeat;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
 }

 .container {
    width: 1200px;
    margin: 0 auto;
    padding: 130px 4px;
 }

 #hero {
    text-align: center;
}

 #hero .container {
    position: relative;
 } 
